.svg-add-color
{
    filter: invert(100%) saturate(1) brightness(1) contrast(1);
}


.svg-color
{
    filter: invert(50%) saturate(1) brightness(1) contrast(1);
}

.svg-pad
{
    padding-right: 0.2vw;
}

.svg-pointer:hover
{
    cursor: pointer;
    filter: invert(0%);
}