.logo
{
    grid-column-start: 2;    
}

.logo__img
{
    width: 4vw;
}

.user
{
    grid-column-start: 3;
}

.nick-box
{
    background-color: var(--bg-element-color);
    border-radius: 1vw;
    color: white;
    height: 2vw;
    margin: 0;
    text-align: center;  
}

.avatar
{
    background-color: white;
    border-radius: 50%;    
    height: 2.2vw;
    justify-self: flex-start;
    width: 2.2vw;
    z-index: 100;
}


.nick
{
    margin: 0;
    padding: 0 1vw;
}