/* //////////////////////////////////////////////////////////// */
/* GRID */

.container
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr auto;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Nav"
      "Details";
    height: 100vh;
}
  
  .nav {  display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". Logo Perfil";
    grid-area: Nav;
    padding: 1vw 0;
  }
  
  .logo {
    justify-self: center;
    align-self: center;
    grid-area: Logo;
  }
  
  .perfil {
    justify-self: center;
    align-self: center;
    grid-area: Perfil;
  }
  
  .details {  display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Info-1 Info-2 Close";
    grid-area: Details;
  }
  
  .info-1 {
    justify-self: center;
    align-self: start;
    grid-area: Info-1;
  }
  
  .info-2 {
    justify-self: center; 
    align-self: start; 
    grid-area: Info-2; 
  }
  
  .close {
    justify-self: end; 
    align-self: start; 
    grid-area: Close; 
  }
  

/* //////////////////////////////////////////////////////////// */