

body {
    background: #000000;
    color: white;
    font-family: sans-serif;
}

.header-nav {
    text-decoration: none;
    padding-left: 2vw;
    padding-right: 2vw;
    color: white;
    font-weight: bold;
}

