:root
{
    --bg-element-color: #0c0d0e;
}


body
{
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.grid-nav
{
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 100%;
    margin: 1em 0;
}


/* Propiedades Flex-box por clases: */
.flex
{
    display: flex;
}
.flex-jc-center
{
    justify-content: center;
}
.flex-ai-center
{
    align-items: center;
}
/* /////////////////// */

.logo
{
    grid-column-start: 2;    
}


.logo__img
{
    width: 60px;
}


.user
{
    grid-column-start: 3;
}


.nick-box
{
    background-color: var(--bg-element-color);
    border-radius: 1em;
    color: white;
    height: 2em;
    margin: 0;
    text-align: center;  
}


.avatar
{
    background-color: white;
    border-radius: 50%;    
    height: 40px;
    justify-self: flex-start;
    width: 40px;
    z-index: 100;
}


.nick
{
    margin: 0;
    padding: 0 1em;
}

.svg-color
{
    filter: invert(50%) saturate(1) brightness(1) contrast(1);
}

.svg-pad
{
    padding-right: 0.2em;
}

.svg-invert
{
    transform: rotate(180deg);
}

.svg-color:hover
{
    filter: invert(100%);
}



.grid-proyecto
{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 100%;
}

.proyecto
{
    background-color: var(--bg-element-color);
    border-radius: 2em 2em 0 0;
    height: 75vh;
    padding: 2em;
}


.proyecto__logo
{
    background-color: white;
    border-radius: 2em;
    height: 130px;
    width: 150px;
    z-index: 100;
}



.proyecto_title
{
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 0.7em;
    margin-bottom: 0;
}

.proyecto__descrip
{
    font-size: 0.9em;
    padding: 0.3em 0;
}


.proto-title
{
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 0.1em;
    margin-top: 0;
}

.proyecto__prototipos
{
    display: flex;
    justify-content: space-around;
    margin-bottom: 5em;
}

.prototipo
{
    background-color: black;
    border-radius: 2em;
    height: 130px;
    margin: 1em;
    width: 130px;
}



.proyecto__minimizar
{
    justify-content: end;
    align-items: flex-start;
}