.bg
{
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
}


.nav
{
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 100%;
}


/* Propiedades Flex-box por clases: */
.flex
{
    display: flex;
}
.flex-jc-center
{
    justify-content: center;
}
.flex-ai-center
{
    align-items: center;
}
.flex-jc-space-b
{
    justify-content: space-between;
}
/* /////////////////// */

.logo
{
    grid-column-start: 2;    
    margin: 1em;
}


.logo__img
{
    width: 60px;
}


.user
{
    grid-column-start: 3;
}


.nick-box
{
    background-color: rgb(29, 29, 29);
    border-radius: 1em;
    color: white;
    height: 2em;
    margin: 0;
    text-align: center;
    width: 10em;    
}


.avatar
{
    background-color: white;
    border-radius: 50%;    
    height: 40px;
    justify-self: flex-start;
    width: 40px;
    z-index: 100;
}


.nick
{
    margin: 0;
}

.svg-add-color
{
    filter: invert(100%) saturate(1) brightness(1) contrast(1);
}


.svg-color
{
    filter: invert(50%) saturate(1) brightness(1) contrast(1);
}

.svg-pad
{
    padding-right: 0.2em;
}







.btn-add
{
    justify-content: flex-end;
}

.btn-idioma
{
    justify-content: flex-start;
}

.btn-add-proyect
{
    background: linear-gradient(90deg, red, rgb(70, 0, 0));
    border-radius: 2em;
    border: 0;
    color: white;
    font-weight: bold;
    padding: 0 1em;
    text-align: center;
}



.proyect-container
{
    flex-wrap: wrap;
    justify-content: center;
    margin: 1em 0;
}

.proyect
{
    background-color: rgb(29, 29, 29);
    border-radius: 2.2em;
    color: white;
    justify-content: center;
    margin: 1em;
    padding: 0 3em 1em;
    width: 22%;
}

.proyect-info
{
    flex-direction: column;
}

.proyect__logo
{
    background-color: white;
    border-radius: 2.3em;
    height: 5em;
    width: 6em;    
}

.proyect__title
{
    height: 2em;
    padding-top: 1em;
    text-align: center;
}

.title__p
{
    letter-spacing: 3px;
}

.proyect__descripcion
{
    padding-left: 1em;
    width: 15em;
}

.proyect__p
{
    font-size: medium;
}