body
{
    margin: 0;
    background-image: url(../img/background_waifu2x_2x_png.png);
    background-repeat: no-repeat;
    background-size: cover;
}

video
{
    height: 100vh;
}

.sect
{
    width: 100%;
    background-color: black;
    position: absolute;
    z-index: -1;
}

ul
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
}

li
{
    list-style-type: none;
}

a
{
    color: white;
    text-decoration-line: none;
    font-family: 'Source Sans Pro', sans-serif;
}

.logo
{
    width: 150px;
    height: auto;
}

.flex-center
{
    display: flex;
    justify-content: center;
}

.box-main
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

.main
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1
{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 2.75rem;
}

button
{
    padding: 10px 10px;
    border-radius: 10px;
    border: 0;
    background: linear-gradient(90deg, red, rgb(70, 0, 0));
    color: white;
}

.button-studio
{
    width: 100px;
}

.button-start
{
    margin-top: 5em;
    width: 250px;
    font-size: 1rem;
}