body
{
    background-image: url(../img/background_waifu2x_2x_png.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.nav
{
    display: flex;
    align-items: center;
}

.nav-item
{
    display: flex;
    justify-content: center;
    width: 50%;
}

.sect__video
{
    height: 100vh;
}

.sect
{
    width: 100%;
    background-color: black;
    position: absolute;
    z-index: -1;
}

ul
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
}

li
{
    list-style-type: none;
}

a
{
    color: white;
    text-decoration-line: none;
}

.logo
{
    width: 150px;
    height: auto;
}

.flex-center
{
    display: flex;
    justify-content: center;
}

.main
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

.main__box
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__title
{
    color: white;
    font-size: 2.75rem;
}

.btn
{
    background: linear-gradient(90deg, red, rgb(70, 0, 0));
    border-radius: 10px;
    border: 0;
    color: white;
    padding: 10px 10px;
    text-align: center;
    width: 250px;    
}

.btn-studios
{
    width: 150px;
}

.btn-start
{
    margin-top: 5em;
    letter-spacing: 5px;
}