* {
  padding: 0px;
  margin: 0px;
  font-family: "Montserrat", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

body {
  background-color: black;
  background-image: url(../img/publish_proyect/PUBLISH_PROYECT_BACKGROUND.png);
  background-repeat: no-repeat;
  background-size: 50vw;
}

.icon__sup,
.icons,
.btn-start,
.submit__btn,
.register__txt,
.form__input__add,
.icon__upload {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 30%;
  background-color: rgba(65, 65, 65, 0.4);
  border-radius: 50px;
  padding: 1em 5em;
  font-size: 1.25em;
  color: #fff;
  float: right;
  margin-right: 5%;
  display: flex;
}

.logotipo__title {
  margin-bottom: -1.375em;
  margin-left: 15px;
}

.bi-plus-lg {
  font-size: 2em;
}

.form__input__add {
  margin-top: 25px;
  width: 7em;
  height: 6em;
  background-color: #000;
  border-radius: 40px;
  cursor: pointer;
}

.form__input {
  width: 85%;
  height: 3em;
  text-align: center;
  border-radius: 6px;
}

.form__inputs__joined {
  display: flex;
  justify-content: space-between;
}

.form__input__name,
.form__input__type,
.form__input__capital {
  width: 70%;
  height: 3em;
  text-align: center;
  border-radius: 6px;
}

.icons__btn,
.icons__btn__upload {
  cursor: pointer;
  display: flex;
  background-color: #fff;
  width: 9.625em;
  height: 4.0625em;
  border-radius: 10px;
}

.icons__btn__upload {
  width: 15.625em;
}

.bi-upload {
  margin: auto;
}

.icons__container {
  display: flex;
  flex-wrap: wrap;
}

.icons__main {
  padding: 1em;
  margin-left: -10px;
}

.icons__dev {
  padding: 0.1125em 0.125em;
  color: #000;
  font-size: 2.8125em;
}

.icons__text {
  padding: 0.9375em 0em;
  color: #000;
  font-size: 1.2em;
}

.btn-start {
  font-size: 1em;
  width: 12.5em;
  background: linear-gradient(90deg, red, rgb(70, 0, 0));
  border-radius: 5px;
  border: 0;
  color: white;
  padding: 0.625em 0.625em;
  cursor: pointer;
}

/* ----------------Media Queries ---------------- */

/* Tamaño por defecto pantallas  */
@media all and (min-width: 1130px) and (max-width: 1360px) {
  * {
    font-size: 13px;
  }

  .form {
    padding: 0.5em 3.25em;
  }

  .logotipo__title {
    margin-left: -3px;
  }

  .form__input {
    width: 26em;
    height: 2em;
  }

  .form__input__left {
    padding-left: 1.5625rem;
  }

  .form__input__name,
  .form__input__type,
  .form__input__capital {
    width: 8.625em;
    height: 2em;
    margin-top: 20px;
  }

  .form__input__add {
    width: 5em;
    height: 4em;
  }

  .icons__main {
    padding: 1em 0.1em 0.1em 0.1em;
    margin-left: 10px;
  }

  .icons__btn__upload {
    width: 13em;
    height: 3em;
    margin-left: -12px;
  }

  .bi-upload {
    font-size: 30px;
  }

  .icons__btn,
  .icons__btn__upload {
    width: 8.625em;
    height: 4em;
  }

  .icons__text {
    font-size: 13px;
  }
}

/* Tamaño tablet horizontal */
@media all and (min-width: 990px) and (max-width: 1130px) {
  body {
    background-size: cover;
    font-size: 0.6em;
  }

  .form-section {
    display: flex;
    justify-content: center;
  }

  .form {
    background-color: rgba(65, 65, 65, 0.6);
    width: 50%;
  }

  .form__input {
    width: 100%;
    height: 1.7em;
  }
}

/* Tamaño tablet  */
@media all and (min-width: 550px) and (max-width: 990px) {
  body {
    background-size: cover;
  }

  .form-section {
    display: flex;
    justify-content: center;
  }

  .form {
    background-color: rgba(65, 65, 65, 0.6);
    width: 50%;
  }

  .form__input {
    width: 90%;
    height: 2em;
  }

  .form__input__left {
    padding-left: 3rem;
  }

  .form__input__name,
  .form__input__type,
  .form__input__capital {
    width: 8.625em;
    height: 2em;
    margin-top: 20px;
  }

  .form__input__add {
    width: 5em;
    height: 4em;
  }

  .icons__btn__upload {
    font-size: 12px;
    width: 15.625em;
    height: 4.0625em;
  }

  .icons__btn {
    width: 8.625em;
    height: 4.0625em;
  }

  .icons__text {
    font-size: 15px;
  }
}

/* Tamaño teléfonos */
@media all and (max-width: 550px) {
  * {
    font-size: 15px;
  }

  body {
    background-size: 100vh;
  }

  .form-seccion {
    display: flex;
    justify-content: center;
  }

  .form {
    width: 85%;
    background-color: rgba(65, 65, 65, 0.6);
    padding: 1em;
  }

  .form__input {
    width: 24em;
    height: 1.7em;
  }

  .form__input__left {
    padding-left: 3rem;
  }

  .form__input__name,
  .form__input__type,
  .form__input__capital {
    width: 8.625em;
    height: 2em;
    margin-top: 20px;
  }

  .form__input__add {
    width: 5em;
    height: 4em;
  }

  .icons__btn__upload {
    font-size: 12px;
    width: 15.625em;
    height: 4.0625em;
  }

  .icons__btn {
    width: 8.625em;
    height: 4.0625em;
  }

  .icons__text {
    font-size: 15px;
  }
}

@media all and (max-width: 330px) {
  * {
    font-size: 10px;
  }

  body {
    background-size: 100vh;
  }

  .form-seccion {
    display: flex;
    justify-content: center;
  }

  .form {
    width: 85%;
    background-color: rgba(65, 65, 65, 0.6);
    padding: 1em;
  }

  .form__input {
    width: 24em;
    height: 1.7em;
  }

  .form__input__left {
    padding-left: 5rem;
  }

  .form__input__name,
  .form__input__type,
  .form__input__capital {
    width: 8.625em;
    height: 2em;
    margin-top: 20px;
  }

  .form__input__add {
    margin-left: 5px;
    width: 5em;
    height: 4em;
  }

  .icons__btn__upload {
    font-size: 10px;
    width: 15.625em;
    height: 3.0625em;
  }

  .bi-upload{
    font-size: 20px;
  }

  .icons__btn {
    width: 8.625em;
    height: 4.0625em;
  }

  .icons__text {
    font-size: 10px;
  }
}
