* {
  padding: 0px;
  margin: 0px;
  font-family: "Montserrat", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

body {
  background-color: black;
  background-image: url(../img/publish_proyect/PUBLISH_PROYECT_BACKGROUND.png);
  background-repeat: no-repeat;
  background-size: 50vw;
}

.icon__sup,
.icons,
.btn-start,
.submit__btn,
.register__txt,
.form__input__add,
.icon__upload {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 30%;
  background-color: rgba(65, 65, 65, 0.4);
  border-radius: 50px;
  padding: 1em 5em;
  font-size: 1.25em;
  color: #fff;
  float: right;
  margin-right: 5%;
  display: flex;
}

.logotipo__title {
  margin-bottom: -1.375em;
  margin-left: 15px;
}

.bi-plus-lg {
  font-size: 2em;
}

.form__input__add {
  margin-top: 25px;
  width: 7em;
  height: 6em;
  background-color: #000;
  border-radius: 40px;
  cursor: pointer;
}

.form__input {
  width: 35.5em;
  height: 3em;
  text-align: center;
  border-radius: 6px;
}

.form__inputs__joined {
  display: flex;
  justify-content: space-between;
}

.form__input__name,
.form__input__type,
.form__input__capital {
  width: 11.625em;
  height: 3em;
  text-align: center;
  border-radius: 6px;
}

.icons__btn__upload {
    cursor: pointer;
    display: flex;
    background-color: #fff;
    width: 15.625em;
    height: 4.0625em;
    border-radius: 10px;
}

.bi-upload {
  margin: auto;
}

.icons__container {
  margin-left: -20px;
  display: flex;
  flex-wrap: wrap;
}

.icons__main {
  padding: 1.25em 0.625em;
  margin-left: -10px;
}

.icons__btn {
  cursor: pointer;
  display: flex;
  background-color: #fff;
  width: 10.625em;
  height: 4.0625em;
  border-radius: 10px;
}

.icon__upload {
  font-size: 4em;
}

.icons__dev {
  padding: 0.1125em 0.125em;
  color: #000;
  font-size: 2.8125em;
}

.icons__text {
  padding: 0.9375em 0em;
  color: #000;
  font-size: 1.2em;
}

.btn-start {
  font-size: 1em;
  width: 12.5em;
  background: linear-gradient(90deg, red, rgb(70, 0, 0));
  border-radius: 5px;
  border: 0;
  color: white;
  padding: 0.625em 0.625em;
  cursor: pointer;
}
